<!DOCTYPE html>
<html>
<head>
	<title>Breaddit</title>
	<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
	<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-min.css">
  <link rel="stylesheet" href="/bread_pure.css">
</head>
<body>
	<div class="pure-menu pure-menu-horizontal pure-menu-fixed">
        <a class="pure-menu-heading" href="/loafs/new"><img class="buttoncreate" src='/images/breaddit_logo.png'></a>
	</div>
    <div class="pure-g">
		<div class="pure-u-1 spacer"><img class="pure-img logo" src='/images/breaddit_logo_full_white.png'></div>
	<% loafs.forEach(function(loafs){ %>
    
        <script> document.write("<div class='pure-u-1 loafs"+ (<%= loafs.id %5 %>)+"'>")</script>
        <div class="pure-g">
            <div class="pure-u-1-6 pure-u-lg-1-24">
                <div class="pure-g">
                      <div class=" pure-u-1-2">
                        <img class="pure-img pure-u-1" src='/images/arrowup.png'>
                    </div>
                    <div class="pure-u-1-2">
                        <%= loafs.votes %>
                    </div>
                    <div class="pure-u-1-2">
                        <img class="pure-img pure-u-1" src='/images/comments.png'>
                    </div>
                    <div class="pure-u-1-2">
                        <%= JSON.stringify(slices[loafs.id]) %>
                    </div>
                </div>
            </div>
            <div class="pure-u-5-6 pure-u-lg-23-24 loaf-title">
   	            <a class="pure-u-1" href="/loafs/<%=loafs.id%>">
                    <%= loafs.title %>
                </a>
            </div>
        </div>
    </div>
    <div class="pure-u-1 contentspacer"></div>
        <% }) %> 
    </div>
</body>
</html>