<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
	<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-min.css">
  <link rel="stylesheet" href="/bread_pure.css">
	<title>Loaf</title>
</head>
<body>
	<form class="pure-form pure-form-stacked navigation" action="/loafs/<%= loafs.id %>/?_method=POST" method="POST">
		<input type="text" id="user" name="user" placeholder="User"required>
		<textarea class="commentarea" type="text" id="comment" name="content" placeholder="Comment" required></textarea>
		<button class="pure-button pure-button-primary">+Slice</button>
		</form>

<input type="checkbox" id="nav-trigger" class="nav-trigger">
<label for="nav-trigger"></label>

<div class="site-wrap loafs">
	<a href="/loafs">
		<img class="logo-header" src='/images/breaddit_logo_full_white.png'>
	</a>
	<div class="pure-g">
	<div class="pure-u-1">

	<script> document.write("<div class='pure-u-1 loafs"+ (<%= loafs.id %5 %>)+"'>")</script>
        <div class="pure-g">
            <div class="pure-u-1-24">
                      <div class="pure-u-1">
												<form action="/loafs/<%= loafs.id %>/upvote/?_method=PUT" method="POST">
													<button class="flatbutton"><img class="pure-img pure-u-1 upvote" src='/images/arrowup.png'></button>
												</form>
                    	</div>
            </div>
            <div class="pure-u-22-24 loaf-title">
            	<%= loafs.title %>
            </div>
            <div class="pure-u-1-24">
            	<form action="/loafs/<%= loafs.id %>/edit" method="GET">
								<button class="flatbutton"><img class="pure-img pure-u-1 edit" src='/images/edit_logo.png'></button>
							</form>
            </div>
            <div class="pure-u-1">
            	<div class="pure-g">
            		<div class="pure-u-1-24">
            		</div>
            		<div class="pure-u-23-24 user">
              		<%= loafs.user %>
            		</div>
            	</div>
            </div>
          <div class="pure-u-1">
						<p><%= loafs.content %><p>
					</div>
	</div>				
</div>
<div class="pure-u-1 contentspacer"></div>
<% slices.forEach(function(slices){ %>
	<script> document.write("<div class='pure-u-1 loafs"+ ((<%= slices.id %> %4)+1) + "'>")</script>
		<div class="pure-g">
			<div class="pure-u-1 user">
				<%= slices.user %>
			</div>
			<div class="pure-u-1">
				<p><%= slices.content %><p>
			</div>

		</div>
	</div>

<% }) %>
<div class="pure-u-1 contentspacer"></div>
<div class="pure-u-1 contentspacer"></div>
<div class="pure-u-1 contentspacer"></div>
<div class="pure-u-1 contentspacer"></div>
<div class="pure-u-1 contentspacer"></div>
			
</div>
</body>
</html>