<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
	<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-min.css">
  <link rel="stylesheet" href="bread_pure.css">
	<title>Loaf</title>
</head>
<body>

	<h1><%=loafs.title %></h1>
		<h3><%= loafs.user %></h3>
		<h3><%= loafs.content %></h3>
		<h3><%= loafs.votes %></h3>

<% slices.forEach(function(slices){ %>
	
	<h6><%= slices.content %></h6>

<% }) %>

		<form action="/loafs/<%= loafs.id %>/upvote/?_method=PUT" method="POST">
				<button>Upvote</button>
				</form>

		<form action="/loafs/<%= loafs.id %>/edit" method="GET">
				<button>Update</button>
				</form>
	
				<form action="/loafs/" method="GET">
				<button>back to the beginning</button>
				</form>

				<form action="/loafs/<%= loafs.id %>/?_method=POST" method="POST">
			<label for="user">User</label>
			<input type="text" id="user" name="user">
			<label for="content">Content</label>
			<input type="text" id="content" name="content">
			<button>Add a slice</button>
		</form>

							

</body>
</html>